/.idea/
node_modules/

scripts/main.min.js

styles/main.css
styles/payment.css
styles/payment_company.css
styles/payment_company_white.css
styles/payment_dark.css

themes/black_yellow/*
!themes/black_yellow/src
themes/blue/*
!themes/blue/src
themes/brown_green/*
!themes/brown_green/src
themes/default/*
!themes/default/src
themes/pink_blue/*
!themes/pink_blue/src
themes/red_black/*
!themes/red_black/src
themes/red_green/*
!themes/red_green/src
themes/payment/*
!themes/payment/src
themes/payment_dark/*
!themes/payment_dark/src
themes/payment_company/*
!themes/payment_company/src
themes/payment_company_white/*
!themes/payment_company_white/src