/* Хэлперы и переменные */
.b-advanced-search {
  margin-top: 30px;
}
.b-advanced-search__submit {
  margin-top: 14px;
  padding: 15px 0 9px;
  color: #000;
}
.b-advanced-search .icon.icon-search {
  margin-left: 6px;
}
.b-advanced-search .submenu__item a {
  padding-left: 56px;
}
.b-advanced-search .chosen-container-single .chosen-single {
  height: 52px;
  border: none;
  background: #fff;
}
/* ---------------------------------------- *
 * Стили для выпадающего дерева             *
 * ======================================== */
ul.fancytree-container {
  margin: 0;
  min-height: 0;
  position: relative;
  font-size: 13px;
}
ul.fancytree-container ul.fancytree-container ul {
  padding-top: 3px;
}
ul.fancytree-container ul.fancytree-container li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background-attachment: scroll;
  background-color: transparent;
  background-position: 0px 0px;
  background-repeat: repeat-y;
  background-image: none;
  margin: 0;
  padding-top: 1px;
}
ul.fancytree-container ul.fancytree-container li.fancytree-lastsib {
  background-image: none;
}
ul.fancytree-container ul.fancytree-container.fancytree-no-connector > li {
  background-image: none;
}
ul.fancytree-container li .fancytree-node {
  padding-left: 9px;
/* white-space nowrap */
  margin-bottom: 4px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
ul.fancytree-container li li .fancytree-node {
  padding-left: 29px;
}
ul.fancytree-container li li li .fancytree-node {
  padding-left: 49px;
}
ul.fancytree-container li li li li .fancytree-node {
  padding-left: 69px;
}
.ui-fancytree-disabled ul.fancytree-container {
  opacity: 0.5;
  background-color: #c0c0c0;
}
span.fancytree-empty,
span.fancytree-vline,
span.fancytree-expander,
span.fancytree-checkbox {
  float: left;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("../../images/ui/tree-icons.gif");
  background-position: 0px 0px;
}
span.fancytree-expander {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}
span.fancytree-icon,
span.fancytree-checkbox,
span.fancytree-radio,
span.fancytree-custom-icon {
  margin-top: 1px;
}
span.fancytree-custom-icon {
  display: inline-block;
}
img.fancytree-icon {
  width: 20px;
  height: 20px;
  margin-left: 3px;
  margin-top: 1px;
  vertical-align: middle;
  border-style: none;
}
span.fancytree-expander {
  cursor: pointer;
}
.fancytree-exp-n span.fancytree-expander,
.fancytree-exp-nl span.fancytree-expander {
  background-image: none;
  cursor: default;
}
.fancytree-exp-n span.fancytree-expander,
.fancytree-exp-n span.fancytree-expander:hover {
  background-position: 0px -64px;
}
.fancytree-exp-nl span.fancytree-expander,
.fancytree-exp-nl span.fancytree-expander:hover {
  background-position: -16px -64px;
}
.fancytree-exp-c span.fancytree-expander {
  background-position: 0px -80px;
}
.fancytree-exp-c span.fancytree-expander:hover {
  background-position: -16px -80px;
}
.fancytree-exp-cl span.fancytree-expander {
  background-position: 0px -96px;
}
.fancytree-exp-cl span.fancytree-expander:hover {
  background-position: -16px -96px;
}
.fancytree-exp-cd span.fancytree-expander {
  background-position: -64px -80px;
}
.fancytree-exp-cd span.fancytree-expander:hover {
  background-position: -80px -80px;
}
.fancytree-exp-cdl span.fancytree-expander {
  background-position: -64px -96px;
}
.fancytree-exp-cdl span.fancytree-expander:hover {
  background-position: -80px -96px;
}
.fancytree-exp-e span.fancytree-expander,
.fancytree-exp-ed span.fancytree-expander {
  background-position: -32px -80px;
}
.fancytree-exp-e span.fancytree-expander:hover,
.fancytree-exp-ed span.fancytree-expander:hover {
  background-position: -48px -80px;
}
.fancytree-exp-el span.fancytree-expander,
.fancytree-exp-edl span.fancytree-expander {
  background-position: -32px -96px;
}
.fancytree-exp-el span.fancytree-expander:hover,
.fancytree-exp-edl span.fancytree-expander:hover {
  background-position: -48px -96px;
}
.fancytree-loading span.fancytree-expander,
.fancytree-loading span.fancytree-expander:hover,
.fancytree-statusnode-wait span.fancytree-icon,
.fancytree-statusnode-wait span.fancytree-icon:hover {
  background-image: url("../../images/ui/tree-loading.gif");
  background-position: 0px 0px;
}
/* Status node icons */
.fancytree-statusnode-error span.fancytree-icon {
  background-position: 0px -112px;
}
/*------------------------------------------------------------------------------
 * Checkbox icon
 *----------------------------------------------------------------------------*/
span.fancytree-checkbox {
  margin-left: 3px;
  position: relative;
  background: #fff;
  border: 2px solid #ccc;
}
span.fancytree-checkbox:hover {
  border-color: #aaa;
  background-color: #f3f3f3;
}
.fancytree-partsel span.fancytree-checkbox {
  border-color: #ccc;
}
.fancytree-partsel span.fancytree-checkbox:before {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #02903d;
  margin: -5px 0 0 -5px;
}
.fancytree-selected span.fancytree-checkbox {
  border-color: #ccc;
}
.fancytree-selected span.fancytree-checkbox:before {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  background-color: transparent;
  background-image: url("../themes/default/images/sprite.png");
  background-position: -264px -136px;
  width: 23px;
  height: 18px;
  margin: -14px 0 0 -6px;
}
span.fancytree-icon {
  display: none;
}
span.fancytree-node {
  margin-bottom: 8px;
  display: inherit;
  width: 100%;
}
span.fancytree-node:hover {
  background: #efece7;
}
span.fancytree-title {
  display: block;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 3px;
  color: #000;
  vertical-align: middle;
  line-height: 20px;
  margin: 0;
  cursor: pointer;
}
span.fancytree-node.fancytree-error span.fancytree-title {
  color: #f00;
}
/* ---------------------------------------- *
 * Общий чекбокс             				*
 * ======================================== */
#js-multilocation {
  float: none;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: -2px;
}
#js-multilocation.checked {
  position: relative;
}
#js-multilocation.checked:before {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  background-image: url("../themes/default/images/sprite.png");
  background-position: -264px -136px;
  width: 23px;
  height: 18px;
  background-color: none;
  margin: -14px 0 0 -6px;
}
#js-multilocation.part:before {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #02903d;
  margin: -5px 0 0 -5px;
}
.ui-helper-hidden {
  display: none;
}
