/* Хэлперы и переменные */
/* ---------------------------------------- *
 * Последний шаг — оплатить                 *
 * ======================================== */
.b-invoice {
  margin: 30px auto 0;
  max-width: 650px;
  position: relative;
  z-index: 3;
}
.b-invoice__before {
  content: '';
  position: absolute;
  z-index: 2;
  display: block;
  left: -10px;
  right: -10px;
  top: -10px;
  height: 20px;
  background: #cbc9c5;
}
.b-invoice .content {
  background: #efece7;
  min-height: 520px;
  margin-bottom: 50px;
  z-index: 4;
  position: relative;
  background: #efece7 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAEBAMAAACjP3i6AAAAG1BMVEXv7Of////w7un9/fz08u/5+Pb39fLx7+rx7upvAFBZAAAAI0lEQVQI12NgYGBSUgCSQNpZ0AzMahUUFDQBstwMBYEgpAAALIYDfIod37UAAAAASUVORK5CYII=") 50% 100% repeat-x;
}
.b-invoice__title {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 25px;
}
.b-invoice__block {
  padding: 35px 80px 40px;
  border-bottom: 1px solid #ccc;
}
.b-invoice__block:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}
.b-invoice p {
  color: #666;
}
.b-invoice b {
  font-weight: 800;
}
.b-invoice .b-tech {
  padding-top: 10px;
}
.b-invoice .b-tech__item {
  margin-bottom: 20px;
}
.b-invoice .b-tech__char span,
.b-invoice .b-tech__value {
  background: none;
  font-size: 16px;
  line-height: 20px;
}
.b-invoice .b-tech__char {
  width: 385px;
  text-align: left;
  font-weight: 800;
}
.b-invoice .b-tech__value {
  margin-left: 385px;
  text-align: left;
}
.b-invoice + .b-wizard__actions {
  padding-bottom: 40px;
}
