/* Хэлперы и переменные */
/* Выпадайка корзины */
.b-cart-menu {
  width: 150px;
  padding: 80px 0 2px;
  top: -20px;
  left: -45px;
}
.b-cart-menu__patch {
  position: absolute;
  display: block;
  top: -10px;
  right: 25px;
  height: 10px;
  width: 150px;
  background: #fff;
}
.b-cart-menu__body {
  position: absolute;
  top: 110px;
  right: -25px;
  width: 527px;
  min-height: 120px;
}
.b-cart-menu__body__goods {
  width: 100%;
}
.b-cart-menu__results {
  text-align: left;
  line-height: 60px;
  padding: 23px 30px 20px;
  margin-right: 200px;
  margin-bottom: 0;
  font-size: 16px;
  color: #000;
}
.b-cart-menu__amount {
  width: 120px;
  font-size: 18px !important;
  font-weight: 800;
  color: #02903d;
  margin-left: 30px;
}
.b-cart-menu__order-button {
  float: right;
  margin: 30px 32px 30px 0;
  line-height: 1;
}
.b-cart-menu__cart-button {
  float: right;
  line-height: 1;
  margin: 30px 15px 30px 0;
  font-size: 13px;
  padding: 18px 10px;
  text-decoration: underline !important;
}
