/* Хэлперы и переменные */
/* Левый сайдбар */
.b-sidebar {
  position: relative;
  width: 225px;
  float: left;
  text-align: left;
}
.b-sidebar .btn {
  display: none;
}
.b-sidebar__title {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #000;
  margin: 0 0 0 2px;
}
.b-sidebar .menu {
  position: relative;
}
.b-sidebar .menu__item {
  position: relative;
}
.b-sidebar .menu__item a,
.b-sidebar .menu__item u {
  display: block;
  width: 100%;
  padding: 4px 15px 4px 2px;
  color: #177a93;
  font-size: 13px;
  line-height: 22px;
  text-decoration: none;
  background: transparent;
  -webkit-transition: background 0.1 ease-in-out;
       -o-transition: background 0.1 ease-in-out;
          transition: background 0.1 ease-in-out;
  cursor: pointer;
}
.b-sidebar .menu__item a span,
.b-sidebar .menu__item u span {
  border-bottom: 1px solid rgba(23,122,147,0.5);
}
.b-sidebar .menu__item a .num,
.b-sidebar .menu__item u .num {
  vertical-align: baseline;
  color: #999;
  font-size: 13px;
  font-weight: normal;
  text-align: right;
  margin-left: 5px;
}
.b-sidebar .menu__item a:hover,
.b-sidebar .menu__item u:hover {
  color: #ffa800;
}
.b-sidebar .menu__item a:hover span,
.b-sidebar .menu__item u:hover span {
  border-bottom-color: rgba(255,168,0,0.5);
}
.b-sidebar .menu__item.current > a,
.b-sidebar .menu__item.current > u {
  color: #ffa800;
  font-weight: 800;
}
.b-sidebar .menu__item.current > a span,
.b-sidebar .menu__item.current > u span {
  border-bottom: none;
}
.b-sidebar .menu__item.current > a:hover,
.b-sidebar .menu__item.current > u:hover {
  color: #ffa800;
  cursor: default;
}
.b-sidebar .menu__item.current.with-submenu > a span,
.b-sidebar .menu__item.current.with-submenu > u span {
  border-bottom-color: rgba(255,168,0,0.5);
}
.b-sidebar .menu__item.active.with-submenu:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.b-sidebar .menu__item.with-submenu:before {
  content: '';
  position: absolute;
  display: block;
  top: 12px;
  left: -17px;
  background-image: url("../themes/default/images/sprite.png");
  background-position: -337px -208px;
  width: 12px;
  height: 8px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
       -o-transition: -o-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
}
.b-sidebar .menu__item.with-submenu > a span,
.b-sidebar .menu__item.with-submenu > u span {
  border-bottom: 1px dotted;
}
.b-sidebar .submenu {
  display: none;
}
.b-sidebar .submenu.active {
  display: block;
}
.b-sidebar .submenu__item a {
  padding-left: 15px;
}
.b-sidebar .submenu__item a span {
  border-bottom-style: solid;
}
.b-sidebar .submenu__item a:hover {
  color: #ffa800;
}
.b-sidebar .submenu__item a:hover span {
  border-bottom-color: rgba(255,168,0,0.4);
}
.b-sidebar .submenu__item.active > a {
  position: relative;
  margin-left: -20px;
  padding-left: 35px;
  color: #ffa800;
  font-weight: 800;
  background: #efece7;
  width: auto;
}
.b-sidebar .submenu__item.active > a:before,
.b-sidebar .submenu__item.active > a:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -40px;
  border: 30px solid transparent;
}
.b-sidebar .submenu__item.active > a:before {
  top: -25px;
  border-bottom-color: #fff;
}
.b-sidebar .submenu__item.active > a:after {
  bottom: -25px;
  border-top-color: #fff;
}
.b-sidebar .submenu__item.active > a span {
  border-bottom: none;
}
.b-sidebar .submenu__item.active > a:hover {
  cursor: default;
}
/* Кастомизация сайдбара каталога */
.store .b-sidebar {
  margin: 56px 0 0 20px;
}
.store .b-sidebar h1 {
  margin-bottom: 15px;
}
/* 4-й вид каталога */
.nosidebar .b-sidebar {
  width: 151px;
  z-index: 20;
  margin: 0 -100% 0 0;
  top: -30px;
}
.nosidebar .b-sidebar .btn {
  display: inline-block;
  margin: 0;
}
.nosidebar .b-sidebar .dropdown__content {
  width: 183px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  padding: 100px 30px 20px;
  margin: -12px 0 0 -13px;
}
.nosidebar .b-sidebar .dropdown__content li.active > a:after,
.nosidebar .b-sidebar .dropdown__content li.active > a:before {
  display: none;
}
.nosidebar .b-sidebar .menu {
  margin: 0 -30px;
}
.nosidebar .b-sidebar .menu__item a,
.nosidebar .b-sidebar .menu__item u {
  padding-left: 32px;
}
.nosidebar .b-sidebar .menu__item.with-submenu:before {
  left: 10px;
}
.nosidebar .b-sidebar .submenu__item a {
  padding-left: 50px;
  margin-left: 0;
}
.nosidebar .b-sidebar .submenu__item.active a:hover {
  background: #efece7;
  color: #ffa800;
}
.owl-item .b-catalog__items.cards .b-item {
  width: auto;
  max-width: 242px;
}
