/* Хэлперы и переменные */
/* Просмотр товара */
.b-catalog-item {
  text-align: left;
/* Левая */
/* Правая */
/* Самая правая */
/* Дополнительные блоки */
}
.b-catalog-item .fotorama__thumb-border {
  border-color: #ccc;
}
.b-catalog-item__title {
  margin-bottom: 10px;
}
.b-catalog-item__subtitle {
  color: #666;
  line-height: 20px;
  font-size: 13px;
  margin: 0px 0 10px;
}
.b-catalog-item__badges {
  position: absolute;
  z-index: 1;
}
.b-catalog-item__badge {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  line-height: 58px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border-radius: 60px;
  margin-left: 10px;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}
.b-catalog-item__badge:first-child {
  margin-left: 0;
}
.b-catalog-item__badge--discount {
  background: #02903d;
}
.b-catalog-item__badge--bestseller {
  background: #ed1c24;
}
.b-catalog-item__seller-info {
  margin-bottom: 30px;
}
.b-catalog-item__description {
  font-size: 13px;
  line-height: 20px;
}
.b-catalog-item .b-item__price--old + .b-price {
  margin-top: 10px;
}
.b-catalog-item__share a.b-share__handle {
  font-size: 13px;
  color: #000;
}
.b-catalog-item__share a.b-share__handle:hover .b-share__text {
  color: #666;
}
.b-catalog-item__limits {
  margin-bottom: 1px;
  color: #999;
}
.b-catalog-item__limits .value {
  color: #333;
}
.b-catalog-item__actions {
  text-align: center;
}
.b-catalog-item__actions .btn {
  border-width: 4px;
  padding: 16px 30px 14px;
  margin: 0 0 20px;
}
.b-catalog-item__aux {
  border-top: 1px solid #ccc;
  padding-top: 40px;
  margin: 40px 50px 0;
  position: relative;
}
.b-catalog-item__aux:before,
.b-catalog-item__aux:after {
  content: '';
  position: absolute;
  display: block;
  top: -1px;
  border-top: 1px solid #ccc;
  width: 60px;
  height: 0;
}
.b-catalog-item__aux:before {
  left: -50px;
}
.b-catalog-item__aux:after {
  right: -50px;
}
.b-catalog-item__aux h1 {
  font-size: 30px;
}
/* Звёздочки */
.b-stars {
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 16px;
  cursor: default;
  background: #efece7;
  top: 2px;
}
.b-stars__rating,
.b-stars:after {
  width: 100%;
  height: 100%;
  position: absolute;
}
.b-stars__rating {
  background: #ffa800;
}
.b-stars:after {
  content: '';
  display: block;
  background-image: url("../themes/default/images/sprite.png");
  background-position: -296px 0px;
  width: 100px;
  height: 16px;
}
/* Инпут-звездочек */
.voting {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-image: url("../themes/default/images/sprite.png");
  background-position: -296px -72px;
  width: 100px;
  height: 16px;
}
.voting li {
  float: left;
}
.voting a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 16px;
  text-indent: -9999px;
}
.voting a.current,
.voting a:hover,
.voting:hover a.current:hover,
.voting:hover a:hover {
  background-image: url("../themes/default/images/sprite.png");
  background-position: -296px -24px;
  width: 100px;
  height: 16px;
}
.voting .voting:hover a.current {
  background: none;
}
.voting__one a {
  width: 20px !important;
  z-index: 5;
}
.voting__two a {
  width: 40px !important;
  z-index: 4;
}
.voting__three a {
  width: 60px !important;
  z-index: 3;
}
.voting__four a {
  width: 80px !important;
  z-index: 2;
}
.voting__five a {
  width: 100px !important;
  z-index: 1;
}
.vote-input {
  text-align: left;
  margin: 25px 0 30px;
}
.vote-input .voting {
  margin-left: 8px;
  top: 2px;
}
a.b-share-popup__yandex {
  display: none;
}
body .b-share-popup_up .b-share-popup_yandexed,
body .b-share-popup__header_first {
  padding-top: 2px !important;
}
/*  */
.b-catalog-item__photos .fotorama__caption {
  display: none;
}
.b-catalog-item__photos.fotorama--fullscreen .fotorama__caption {
  display: block;
  text-align: center;
  top: 0;
  bottom: auto;
  font-size: 30px;
  font-weight: 300;
}
