/* Хэлперы и переменные */
/* Выпадайка "поддержка" */
.b-support-info__title {
  display: inline-block;
  padding: 20px 8px 4px 64px;
  color: #177a93;
}
.b-support-info__title span {
  border-bottom: 1px dotted rgba(23,122,147,0.5);
  font-size: 16px;
}
.b-support-info__title span:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -35px;
  margin-top: -3px;
  background-image: url("../themes/default/images/sprite.png");
  background-position: -145px -222px;
  width: 25px;
  height: 22px;
}
.b-support-info__title span:hover:before,
.b-support-info__title span.active:before {
  background-image: url("../themes/default/images/sprite.png");
  background-position: -112px -222px;
  width: 25px;
  height: 22px;
}
.b-support-info__content {
  padding: 40px 30px 0;
}
