/* Хэлперы и переменные */
.profile-nav {
  text-align: left;
}
.profile-nav .btn {
  float: right;
  margin: 17px 0 0;
  border-width: 4px;
  padding: 13px 23px 9px;
}
.b-profile-info__photo.b-profile-info__photo--square {
  overflow: visible !important;
}
.b-profile-nav {
  font-size: 0;
  width: 75%;
  float: left;
}
.b-profile-nav .menu__item {
  display: inline-block;
  font-size: 14px;
  height: 80px;
}
.b-profile-nav .menu__item a {
  position: relative;
  display: block;
  padding: 0 20px 0 50px;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  border-bottom: none;
  white-space: nowrap;
}
.b-profile-nav .menu__item a span {
  color: #000;
}
.b-profile-nav .menu__item a:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
}
.b-profile-nav .menu__item a.icon__profile:before {
  margin-top: -11px;
  background-image: url("../themes/default/images/sprite.png");
  background-position: -210px -222px;
  width: 16px;
  height: 20px;
}
.b-profile-nav .menu__item a.icon__favorites:before {
  margin-top: -8px;
  background-image: url("../images/sprite.png");
  background-position: -858px -613px;
  width: 20px;
  height: 17px;
}
.b-profile-nav .menu__item a.icon__cart:before {
  margin-top: -11px;
  background-image: url("../images/sprite.png");
  background-position: -858px -563px;
  width: 20px;
  height: 17px;
}
.b-profile-nav .menu__item a.icon__order:before {
  margin-top: -9px;
  background-image: url("../images/sprite.png");
  background-position: -858px -686px;
  width: 20px;
  height: 16px;
}
.b-profile-nav .menu__item a.icon__mail:before {
  margin-top: -7px;
  background-image: url("../images/sprite.png");
  background-position: -858px -801px;
  width: 18px;
  height: 13px;
}
.b-profile-nav .menu__item:hover {
  background: #e0ddd8;
}
.b-profile-nav .menu__item.active {
  background: #ffa800;
  color: #fff;
}
.b-profile-nav .menu__item.active a {
  color: #fff;
}
.b-profile-nav .menu__item.active a span {
  color: #fff;
}
.b-profile-nav .menu__item.active a.icon__profile:before {
  background-image: url("../themes/default/images/sprite.png");
  background-position: -264px -56px;
  width: 16px;
  height: 20px;
}
.b-profile-nav .menu__item.active a.icon__favorites:before {
  background-image: url("../images/sprite.png");
  background-position: -858px -588px;
  width: 20px;
  height: 17px;
}
.b-profile-nav .menu__item.active a.icon__cart:before {
  background-image: url("../images/sprite.png");
  background-position: -858px -513px;
  width: 20px;
  height: 17px;
}
.b-profile-nav .menu__item.active a.icon__order:before {
  background-image: url("../images/sprite.png");
  background-position: -858px -662px;
  width: 20px;
  height: 16px;
}
.b-profile-nav .menu__item.active a.icon__mail:before {
  background-image: url("../images/sprite.png");
  background-position: -858px -822px;
  width: 18px;
  height: 13px;
}
.b-profile-nav .menu__item.active:hover {
  background: #ffa800;
}
.b-profile-nav .menu__item.active:hover a {
  cursor: default;
}
.b-profile-nav .menu__item__num {
  right: -8px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait), screen and (min-width: 641px) and (max-width: 800px) {
  .profile-nav.grey {
    background: rgba(239,236,231,0.5);
    text-align: center;
  }
  .b-profile-nav {
    width: 100%;
    background: #efece7;
  }
  .b-profile-nav .menu__item {
    width: 20%;
  }
  .b-profile-nav .menu__item a:before {
    left: 50%;
  }
  .b-profile-nav .menu__item a:after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    left: 0;
    top: 10px;
    bottom: 10px;
    background: #e0ddd8;
  }
  .b-profile-nav .menu__item a.icon__profile:before {
    margin-left: -8px;
  }
  .b-profile-nav .menu__item a.icon__favorites:before {
    margin-left: -10px;
  }
  .b-profile-nav .menu__item a.icon__cart:before {
    margin-left: -10px;
  }
  .b-profile-nav .menu__item a.icon__order:before {
    margin-left: -10px;
  }
  .b-profile-nav .menu__item a.icon__mail:before {
    margin-left: -9px;
  }
  .b-profile-nav .menu__item.active a:after,
  .b-profile-nav .menu__item:first-child a:after,
  .b-profile-nav .menu__item.active + .menu__item a:after {
    display: none;
  }
  .profile-nav .btn {
    float: none;
    margin: 11px 0 12px;
  }
  .b-profile-nav .menu__item a span {
    display: none !important;
  }
}
@media only screen and (max-width: 640px) {
  .profile-nav.grey {
    background: rgba(239,236,231,0.5);
    text-align: center;
  }
  .b-profile-nav {
    width: 100%;
    background: #efece7;
  }
  .b-profile-nav .menu__item {
    width: 20%;
  }
  .b-profile-nav .menu__item a:before {
    left: 50%;
  }
  .b-profile-nav .menu__item a:after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    left: 0;
    top: 10px;
    bottom: 10px;
    background: #e0ddd8;
  }
  .b-profile-nav .menu__item a.icon__profile:before {
    margin-left: -8px;
  }
  .b-profile-nav .menu__item a.icon__favorites:before {
    margin-left: -10px;
  }
  .b-profile-nav .menu__item a.icon__cart:before {
    margin-left: -10px;
  }
  .b-profile-nav .menu__item a.icon__order:before {
    margin-left: -10px;
  }
  .b-profile-nav .menu__item a.icon__mail:before {
    margin-left: -9px;
  }
  .b-profile-nav .menu__item.active a:after,
  .b-profile-nav .menu__item:first-child a:after,
  .b-profile-nav .menu__item.active + .menu__item a:after {
    display: none;
  }
  .profile-nav .btn {
    float: none;
    margin: 11px 0 12px;
  }
  .b-profile-nav .menu__item a span {
    display: none !important;
  }
  .b-profile-info__actions {
    float: none;
  }
  .b-profile-info--fullwidth .b-profile-info__summary {
    margin-right: 0;
  }
  .b-profile-info__summary .b-profile-info__title {
    clear: none;
    margin-top: 30px;
  }
  .profile-cart .b-profile-info__summary .b-profile-info__title {
    margin-top: 40px;
  }
  .b-profile-info--fullwidth .b-profile-info__characters-list {
    width: 50%;
    margin-right: 0;
    padding-right: 60px;
  }
  .b-profile-info__characters-list {
    z-index: auto;
  }
  .b-profile-info__characters-list:first-of-type {
    clear: left;
    width: 100%;
    padding-top: 10px;
    margin-top: 0;
  }
  .profile-cart .b-profile-info__characters-list:first-of-type {
    border-top: 1px solid #ccc;
  }
  .b-profile-info--fullwidth .b-profile-info__actions {
    margin: 0;
    float: right;
    margin-top: 170px;
    margin-left: -100%;
  }
  .b-order-list__buttons {
    text-align: center;
  }
}
