/* Хэлперы и переменные */
.chosen-container-single .chosen-single {
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  border: 3px solid transparent;
  background: none repeat scroll 0 0 #ededed;
}
.chosen-container-single .chosen-single span {
  line-height: 54px;
}
#avatar_file {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
#button_avatar_file {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.b-profile-info__actions {
  width: 192px;
  float: right;
  text-align: center;
}
.b-profile-info__actions span.label,
.b-profile-info__actions .action {
  display: block;
  font-size: 13px;
  line-height: 20px;
}
.b-profile-info__actions span.label {
  margin-top: 1em;
}
.b-profile-info__actions .btn.ask-question {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 40px -28px 0 0;
}
.b-profile-info__actions .dropdown__content {
  text-align: left;
}
/* Блок с информацией в ЛК */
.b-profile-info--personal {
  padding: 0;
  margin-top: 0;
  margin-bottom: -5px;
  background: none;
  width: 626px;
}
.b-profile-info--personal .b-profile-info__photo {
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 92px;
  font-size: 0;
  border: 4px solid #ffa800;
  margin: 2px 20px 0 0;
}
.b-profile-info--personal .b-profile-info__photo.with-icon:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -17px 0 0 -14px;
  z-index: -1;
  background-image: url("../themes/default/images/sprite.png");
  background-position: -224px -140px;
  width: 28px;
  height: 34px;
}
.b-profile-info--personal .b-profile-info__title {
  margin-bottom: 0 !important;
  margin-left: 118px;
  padding-top: 8px;
  display: block;
  position: relative;
  left: -2px;
  min-height: 100px;
}
.b-profile-info--personal .b-profile-info__characters-list {
  margin-top: 16px;
  color: #666;
}
/* Форма смены пароля */
.b-profile__security-form {
  margin: 0 auto;
  text-align: center;
  width: 400px;
}
.b-profile__security-form .b-profile__headline {
  text-align: center;
}
