/* Хэлперы и переменные */
.h1-with-progress-bar.seller {
  text-align: center;
}
.h1-with-progress-bar.seller h1 {
  position: relative;
}
.h1-with-progress-bar.seller h1:after {
  background-image: url("../images/sprite.png");
  background-position: -483px -693px;
  width: 89px;
  height: 75px;
  content: '';
  position: absolute;
  top: -136px;
  left: 50%;
  margin: 0 0 0 -46px;
}
#progressCircle {
  border: 2px solid #ffa800;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 12px;
}
