/* Хэлперы и переменные */
.menu-login {
  float: right;
  height: 120px;
  margin: 0 -15px 0 -100%;
}
.menu-login .not-logged-in {
  padding: 57px 0 33px;
}
.menu-login .not-logged-in a {
  margin-top: 4px;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease all;
       -o-transition: 0.2s ease all;
          transition: 0.2s ease all;
}
.menu-login .not-logged-in a.menu-login__login {
  color: #000;
  border-right: 1px solid #c5c6c8;
}
.menu-login .not-logged-in a.menu-login__login:before {
  content: '';
  display: inline-block;
  background-image: url("../themes/default/images/sprite.png");
  background-position: -377px -187px;
  width: 8px;
  height: 11px;
  margin-right: 5px;
}
.menu-login .not-logged-in a.menu-login__register {
  color: #02903d;
}
.menu-login .not-logged-in a:hover {
  color: #ffa800;
}
.menu-login .logged-in {
  padding-right: 15px;
}
section.subheader .menu-login .not-logged-in a.menu-login__login:before {
  background-image: url("../images/sprite.png");
  background-position: -884px -423px;
  width: 8px;
  height: 11px;
}
section.subheader .menu-login .not-logged-in a.menu-login__login:hover:before {
  background-image: url("../images/sprite.png");
  background-position: -884px -453px;
  width: 8px;
  height: 11px;
}
section.subheader.subheader--min .menu-login .not-logged-in a.menu-login__login:before {
  background-image: url("../themes/default/images/sprite.png");
  background-position: -377px -187px;
  width: 8px;
  height: 11px;
}
.header .logged-in .btn {
  margin: 40px 0 0 0;
}
/* Выпадайка профиля */
.b-profile-menu {
  width: 150px;
  padding: 85px 0 2px;
  top: -20px;
  left: -45px;
}
.b-profile-menu__name {
  color: #808080;
  margin-bottom: 13px;
  line-height: 13px;
}
.b-profile-menu .menu__item {
  border-top: 1px solid #efece7;
  padding: 0;
  position: relative;
}
.b-profile-menu .menu__item a {
  float: none;
  display: block;
  padding: 8px 20px 9px;
  border-bottom: none;
  color: #177a93;
}
.b-profile-menu .menu__item a:hover {
  color: #ffa800;
}
.b-profile-menu__logout {
  position: relative;
}
.b-profile-menu__logout:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  margin-top: -7px;
  background-image: url("../themes/default/images/sprite.png");
  background-position: -321px -165px;
  width: 12px;
  height: 14px;
}
